{% extends 'base.html' %}

{% block content %}
    <center>

        <h1>Estoque</h1>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <a href="{% url 'add_ingredient'%}" class="btn btn-secondary btn-block btn-xl">Adicionar novo</a>
        </div>

        {% for ingredient in ingredient_list %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <table class="table">
                  <tr>
                    <td >
                      <a href="{% url 'edit_ingredient' ingredient.id %}" class="btn btn-secondary btn-block btn-xl">Editar</a>
                    </td>
                    <td>
                      <div class="d-grid gap-2 col-6 mx-auto">
                        <h5>{{ ingredient }}</h5>
                      </div>
                    </td>
                    <td>
                      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="{% url 'delete_ingredient' ingredient.id %}" class="btn btn-danger btn-block btn-xl">X</a>
                      </div>
                    </td>
                  </tr>
                </table>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Data de Validade: {{ ingredient.exp_date }}</li>
              <li class="list-group-item">Quantidade: {{ ingredient.quantity }} {{ ingredient.measure_unit }}</li>
              <li class="list-group-item">Preço: R$ {{ ingredient.price }} </li>
              <li class="list-group-item">Obs: {{ ingredient.obs }}</li>
            </ul>
          </div>
        {% endfor %}

    </center>
{% endblock %}