{% extends 'base.html' %}

{% block content %}
    <center>

        <h1>Cardápio</h1>

        <div class="card-group">
        <!-- Adiciona um elemento div com a classe "card-group" para agrupar os cards -->

        {% for category in menu %}
            <div class="card" style="width: 18rem; display: inline-block;">
            <!-- Adiciona a propriedade "display: inline-block" ao estilo do elemento div que envolve o card -->
                <div class="card-body">
                    <h5 class="card-title">{{ category }}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <table class="table table-stripped table-hover table-bordered">
                        {% for dish in category.dishes.all %}
                        <tr>
                            <td align="center">
                                <a href="{% url 'edit_dish' dish.id %}" class="btn btn-secondary btn-block btn-xl">Editar</a>
                            </td>
                            <td align="center">
                                {{ dish }}
                            </td>
                            <td align="center">
                                Excluir
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    <div class="form-group">
                        <a href="{% url 'add_dish' %}" class="btn btn-secondary btn-block btn-xl">Adicionar novo</a>
                    </div>
                    <br/>
                </ul>
            </div>
        {% endfor %}

        </div>
        <!-- Fecha o elemento div com a classe "card-group" -->

    </center>
{% endblock %}
