{% extends 'base.html' %}

{% block content %}
<style>
  /* Estilos CSS para a tabela */
  table {
      width: 80%;
      border-collapse: collapse;
      margin: 20px auto; /* Centralizar a tabela e adicionar espaço superior */
      border-top: 1px solid black;
  }

  th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid black; /* Linha preta entre as linhas */
      border-right: 1px solid black; /* Linha preta entre as colunas */
  }

  th {
      background-color: #f2f2f2;
      border-top: 1px solid black; /* Linha preta na parte superior */
      border-left: 1px solid black; /* Linha preta no lado esquerdo */
  }

  td {
      border-left: 1px solid black; /* Linha preta no lado esquerdo */
  }

  .btn {
      margin-top: 10px;
  }

  .hidden {
    display: none;
  }
</style>

<h1>Pedidos da Mesa {{ mesa.numero }}</h1>
<h5>Preço Total Global: R$ {{ total_price_global }}</h5>

<ul>
  {% for order in orders %}
    <li>{{ order }}</li>
    <ul>
      {% for order_dish in order.orderdish_set.all %}
        <li>{{ order_dish.dish.name }}</li>
        <li>Quantidade: {{ order_dish.quantity }}</li>
        <li>Observação: {{ order_dish.obs }}</li>
        <li>Preço: R$ {{ order_dish.dish.price }}</li>
        <br>
      {% endfor %}
      <li>Preço local: {{ order.total_price_local }}</li> 
    </ul>
    <br>
  {% empty %}
    <li>Nenhum pedido encontrado.</li>
  {% endfor %}
</ul>

<button id="btn-pedido" class="btn-secondary">Adicionar pedido</button>
<form method="POST" action="">
  {% csrf_token %}

  <div id="tabela-pedido" class="hidden">
    <table>
      <thead>
        <tr>
          <th>Selecionar</th>
          <th>Prato</th>
          <th>Preço</th>
          <th>Quantidade</th>
          <th>Observação</th> <!-- Nova coluna para a observação -->
        </tr>
      </thead>
      <tbody>
        {% for dish in dishes %}
          <tr>
            <td>
              <input type="checkbox" id="dish_{{ dish.id }}" name="dishes" value="{{ dish.id }}">
            </td>
            <td>{{ dish.name }}</td>
            <td>R$ {{ dish.price }}</td>
            <td>
              <input type="number" id="quantity_{{ dish.id }}" name="quantity_{{ dish.id }}" min="1" max="10" value="1">
            </td>
            <td>
              <input type="text" id="observation_{{ dish.id }}" name="observation_{{ dish.id }}">
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <button type="submit">Confirmar Pedido</button>
  </div>
</form>

<script>
  const btnPedido = document.getElementById('btn-pedido');
  const tabelaPedido = document.getElementById('tabela-pedido');

  btnPedido.addEventListener('click', () => {
    if (tabelaPedido.classList.contains('hidden')) {
      tabelaPedido.classList.remove('hidden');
      btnPedido.textContent = 'Voltar';
    } else {
      tabelaPedido.classList.add('hidden');
      btnPedido.textContent = 'Adicionar pedido';
    }
  });

  const form = document.querySelector('form');
  form.addEventListener('submit', (event) => {
    event.preventDefault();

    const checkboxes = document.querySelectorAll('input[name="dishes"]:checked');
    const quantities = document.querySelectorAll('input[name^="quantity_"]');
    const observations = document.querySelectorAll('input[name^="observation_"]');
    const selectedDishes = [];

    checkboxes.forEach((checkbox, index) => {
      const dishId = checkbox.value;
      const quantityInput = document.querySelector(`input[name="quantity_${dishId}"]`);
      const observationInput = document.querySelector(`input[name="observation_${dishId}"]`);
      const quantity = parseInt(quantityInput.value);
      const observation = observationInput.value;

      if (quantity > 0) {
        selectedDishes.push({
          dishId: dishId,
          quantity: quantity,
          observation: observation,
        });
      }
    });

    // Enviar os dados selecionados para o servidor
    console.log(selectedDishes);
    form.reset();
    tabelaPedido.classList.add('hidden');
    btnPedido.textContent = 'Adicionar pedido';
  });
</script>

{% endblock %}

