{% extends 'base.html' %}

{% block content %}
  <center>

    <div class="container text-center">
      <div class="row ">
        {% for mesa in mesa_list %}
        <div class="col-md-3 mt-3">
          <div class="d-flex justify-content-center align-items-center" style="height:20vh;border:2px solid #000">Mesa {{ mesa }}</div>
        </div>
        {% endfor %}

        <div class="col-md-3 mt-3">
          <div class="d-flex justify-content-center align-items-center" style="height:20vh;border:2px solid #000">
            <form id="add-mesa-form" action="{% url 'add_mesa' %}" method="post">
              {% csrf_token %}
              <button type="button" onclick="document.getElementById('add-mesa-form').submit();" style="border:none; background-color:#FFF">
                <i style="font-size: 32px" class="bi bi-plus-circle"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </center>
{% endblock %}